@model IEnumerable<TesteBludata.Models.Entity.Empresa>

@{
    ViewData["Title"] = "Lista de Empresas";
}


<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EmpresaModal">
        Cadastrar
    </button>
</div>

<br>

<div>
    <table class="table table-dark table-striped ">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>UF</th>
                <th>CPF/CNPJ</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>

            @foreach (var empresa in ViewBag.ListEmpresa)
            {
                <tr>
                    <td id="IdLista" scope="row">@empresa.Id</td>
                    <td>@empresa.Nome</td>
                    <td>@empresa.UF</td>
                    <td>@empresa.CPF_ou_CNPJ</td>
                    <td>
                        <a class="btn btn-warning" id="Editar" href="/Empresa/Edit/@empresa.Id">
                            Editar
                        </a>
                    </td>
                    <td>
                        <button type="button" onclick="Delete(@empresa.Id)" class="btn btn-danger" id="Excluir">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal AddEmpresaModal -->
<div class="modal fade" id="EmpresaModal" tabindex="-1" aria-labelledby="EmpresaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Cadastro Empresa</h1>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="resposta" style="display:none;"></div>
            <div class="modal-body">
                <form class="form-horizontal" id="FormEmpresa">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="Nome" name="Nome"
                                       autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">UF</label>
                            <div class="mb-3">
                                <select id="UF" name="UF"  class="form-control">
                                    <option value="">-- Selecione o estado --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">CPF/CNPJ</label>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="CPF_ou_CNPJ" name="CPF_ou_CNPJ"
                                       autocomplete="off" />
                            </div>
                        </div>                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Fechar
                            </button>
                            <button type="button" id="Salvar"  class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="~/js/TelaEmpresa.js"></script>